@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');


h3{
    font-family: 'Righteous';
}



.contentContact{
    background-color: white;
    /* padding: 1%; */
    /* margin-top: 10%; */
    position: fixed;
    z-index: 9;
    width: 50vw;
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
    opacity: .8;
}

.contentContact:hover{
    background-color: white;
    /* padding: 1%; */
    /* margin-top: 10%; */
    position: fixed;
    z-index: 9;
    width: 50vw;
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
    opacity: 1;
}



.contactClock{
    display: block;
    position: sticky;
    width: 50vw;
    height: auto;
    align-items: center;
    margin:auto;
    border-radius: .5%;
}


@media(max-width: 1000px ){
.containerContact{
    margin-bottom: 65vh;
}
.contentContact{
    background-color: white;
    position: absolute;
    z-index: 9;
    width: 60vw;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    opacity: 1;
}
.contactClock{
    display: none;
    position: sticky;
    width: 50vw;
    height: auto;
    align-items: center;
    margin:auto;
    border-radius: .5%;
}
}